body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9fb;
}

.main {
  margin-left: 100px;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main--abierto {
  margin-left: 250px;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media ((min-width: 375px) and (max-width: 1019px)) {
  .main {
    margin-left: 0;
  }

  .main--abierto {
    margin-left: 0;
  }
}
