.headbar {
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 25px 25px 25px 90px;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-size: 1.3rem;
}

.headbar__title h3 {
  font-size: 1.9rem;
  margin-bottom: 4px;
}
.headbar__title p {
  font-size: 1.2rem;
  font-weight: 300;
}

.headbar__acciones {
  display: flex;
}

.headbar button {
  margin-left: 10px;
}

.headbar--close {
  padding-left: 90px;
}

.headbar {
  padding-left: 10px;
}

.headbar--abierto {
  padding-left: 255px;
}

.headbar__title--detalle {
  display: flex;
  align-items: center;
}
.headbar__title--detalle em {
  margin-right: 10px;
  max-width: 10px;
  color: #fff;
  font-size: 2rem;
}
.headbar__title--detalle h3 {
  margin-bottom: 0 !important;
}

.headbar__detail_d {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alinear {
  flex-direction: row;
  justify-content: flex-end;
}

.headbar__detail_r {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.headbar__detail {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.headbar__detaill {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}

.headbar__detail span {
  margin-top: 5px;
  margin-left: 10px;
}

.headbar__detail img {
  max-width: 26px;
}

.icon-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.notification-icon {
  font-size: 20px;
}

.notification-count {
  position: absolute;
  top: -7px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}
.bienvenido__texto--abierto {
  margin-left: 255px;
  color: white;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (max-width: 900px) {
  .headbar--abierto {
    padding-left: 5px;
  }
}
