.customModal__content-cerrar {
  display: flex;
  justify-content: end;
}

.customModal__content-button {
  background-color: white;
  color: var(--primary-blue);
  border: none;
  font-size: 2.3rem;
  cursor: pointer;
}

.titulo {
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e5ed;
  font-weight: bold;
  color: black;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.form__group-items {
  flex: 0;
  margin-right: 1.2rem;
}

.form__group .form__group-items label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: start;
  font-weight: bold;
}

.form__group .form__group-items input {
  padding: 0.6rem;
}

.selector {
  width: 10rem;
  display: block;
  border-radius: 0.2rem;
  border: 0.1rem solid #d5ecf8;
  padding: 0.6rem 0rem 0.5rem 0rem;
  outline: none;
  text-align: center;
  margin-bottom: 0;
}

.Migrar {
  width: 15rem;
  border-radius: 2px;
  border: 1px solid #d5ecf8;
  padding: 0.5rem 0.1rem 0.5rem 1rem;
  outline: none;
}

.Migrar.max-reached {
  border-color: #ccc; /* Cambia el color del borde a gris */
  background-color: #ccc;
}

.Migrar:not(.max-reached) {
  background-color: #fff; /* Establece el fondo a blanco cuando no se alcanza el máximo */
}

.valid-input {
  border: 2px solid var(--primary-blue); /* Borde verde para indicar que es válido */
}

.invalid-length {
  border: 2px solid red;
}

.error {
  border: 1px solid red; /* Cambiar el estilo del borde para indicar un error */
}

.error-message {
  color: #bc0606; /* Color del mensaje de error */
  font-size: 14px; /* Tamaño de fuente del mensaje de error */
}

.lista {
  margin-left: 3rem;
  text-align: center;
}

.lista-items {
  list-style: none;
  font-size: 1.2rem;
}

.sipnup-btn_agregar_ {
  width: 30px;
  border: none;
  background-color: white;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.ta {
  margin-bottom: 0.3rem;
}

.margen {
  margin-top: 3rem;
}

@media (max-width: 900px) {
  .customModal__content {
    background-color: white;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(194, 59, 59, 0.2);
    text-align: center;
    border-radius: 4px;
    max-width: 300px;
  }
}
